.div1 {
  width: 100px;
  height: 100px;
  background: #0080ff;
}

.div2 {
  position: relative;
  top: -50px;
  right: -50px;
  width: 100px;
  height: 100px;
  background: #e50914;
}

.div3 {
  position: relative;
  top: -100px;
  right: -100px;
  width: 100px;
  height: 100px;
  background: #ffa00a;
}

.div4 {
  position: relative;
  top: -150px;
  right: -150px;
  width: 100px;
  height: 100px;
  background: #e50914;
}