body {
  font-family: cursive;
  display: flex;
  justify-content: center;
  background-color: rgb(238, 247, 236);
  animation: lightdark 8s infinite;
}

.maldives {
  margin-top: 100px;
  border: 5px solid whitesmoke;
  
}

.maldives:hover {
  color:aliceblue;
  box-shadow: 0 0 2px 1px rgba(13, 33, 39, 0.5);
  opacity:0.55;
}

.text {
  color: rgb(149, 160, 3);
  text-align: center;
  font-weight: bold;
}

@keyframes lightdark {
  0% {
    top: 0px; 
    background: rgb(236, 244, 247);
    }
  100% {
    top: 0px; 
    background: rgb(238, 247, 236);
    } 
}